.loadingSpinnerOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff9c;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  .loadingSpinner {
    max-width: 200px;
    max-height: 200px;

    height: 30%;
    width: auto;
  }
}
