@use '../../styles/utils.scss';

.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./bg-desktop-header.svg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 160px;
  padding-inline: 40px;

  .content {
    max-width: 1100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      height: 64px;
      width: 64px;
    }

    .userMenu {
      display: flex;
      align-items: center;
      gap: 25px;

      a {
        height: 48px;
        cursor: pointer;
      }
    }
  }

  @include utils.respond-to(bp-small) {
    background-image: url('./bg-tablet-header.svg');
  }

  @include utils.respond-to(bp-very-small) {
    background-image: url('./bg-mobile-header.svg');
  }
}
