@import "../../styles/variables.scss";

.loginContainer {
  border-radius: 6px;
  background: #5964e0;
  width: 500px;
  padding: 25px 50px;
  display: flex;
  flex-flow: column;
  position: relative;
  background-image: url("./bg-login-container.svg");
  background-position: center;
  background-size: cover;
  align-self: center;
  margin: 25px auto;

  .signResponseMessage {
    min-height: 45px;
    margin-bottom: 10px;
    width: 100%;

    > p {
      color: $orange;
      line-height: normal;
      text-align: left;
      font-size: 14px;
      font-family: $font-family-bold;
      display: inline-flex;
      gap: 10px;
      text-align: justify;
    }
  }

  .formChangeBox {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    font-size: 12px;

    .formChangeBtn {
      margin-top: 5px;
      align-self: flex-end;
      color: #f4f6f8;
      padding: 0;
      font-size: 13px;
      color: $light-grey;
      font-family: $font-family-bold;
      cursor: pointer;
      border: none;
      background-color: transparent;
      margin-top: auto;

      &:hover {
        text-decoration: underline;
      }

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }

  :global {
    .react-tooltip {
      z-index: 3;
      font-size: 13px;
      width: calc(100% - 100px);

      &.error {
        width: auto;
      }
    }
  }
}
