.loginContainer {
  border-radius: 6px;
  background: #5964e0;

  width: 400px;
  height: 500px;
  padding: 25px 50px;

  display: flex;
  flex-flow: column;
  position: relative;

  background-image: url("./bg-login-container.svg");
  background-position: center;
  background-size: cover;

  .formChangeBtn {
    align-self: flex-end;
    color: #f4f6f8;

    border: none;
    background-color: transparent;
    font-size: 12px;
    margin-top: auto;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}
