@use '../../styles/variables.scss';

.userPanel {
  color: variables.$midnight;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  height: 100%;
  flex-flow: column;

  .userMenu {
    display: inline-flex;
    gap: 20px;
  }

  .userProfileDetails {
    text-align: left;
  }

  .moreActions {
    margin-top: auto;
  }
}
