@use '../../styles/variables.scss';
@use '../../styles/themeVariables.scss';
@use '../../styles/utils.scss';

.offerList {
  display: flex;
  flex-flow: column;
  flex-grow: 1;

  .controlsBox {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 15px;
    margin-bottom: 45px;
  }

  .list {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    row-gap: 65px;
    column-gap: 30px;
    width: 100%;
    justify-content: space-between;
    justify-items: center;
    margin: auto;
  }

  .noOffersWarningBox {
    text-align: center;
    @include themeVariables.themify(themeVariables.$themes) {
      color: themeVariables.themed('text-main-color');
    }
    margin: auto;
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
