@import "../../../styles/variables.scss";

.inputLabel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 20px;

  > .labelText {
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    gap: 10px;

    > svg {
      width: 18px;
      height: 18px;
      cursor: help;
    }
  }

  .inputBox {
    position: relative;
    width: 100%;
    display: inline-flex;
    border-radius: 6px;

    .tooltipError {
      width: auto;
      max-width: 250px;
    }

    &.error {
      outline: 1px solid $error;
      -webkit-box-shadow: 0px 0px 10px 0px $error;
      -moz-box-shadow: 0px 0px 10px 0px $error;
      box-shadow: 0px 0px 10px 0px $error;
    }

    &.valid {
      outline: 1px solid $valid;
      -webkit-box-shadow: 0px 0px 15px 0px $valid;
      -moz-box-shadow: 0px 0px 15px 0px $valid;
      box-shadow: 0px 0px 15px 0px $valid;
    }

    > input {
      &.withIcon {
        padding-left: 72px;
      }

      padding-left: 20px;
      padding-right: 40px;

      &.small {
        height: 40px;
      }
      &.medium {
        height: 60px;
      }
      &.large {
        height: 80px;
      }

      color: $very-dark-blue;
      background-color: $white;
      border: none;
      outline: none;
      flex-grow: 1;
      border-radius: inherit;
      flex-shrink: 0;

      &::placeholder {
        opacity: 0.5;
      }
    }
    > img {
      width: 24px;
      height: 24px;
      margin-left: 32px;
      align-self: center;
      position: absolute;
    }

    .validationIcon {
      right: 15px;
    }
  }
}
.error {
  color: $error;
}

.valid {
  color: $valid;
}
