@use "../../styles/variables.scss";

.footer {
  background-color: variables.$violet;
  width: 100%;

  .content {
    max-width: 1110px;
  }

  align-self: center;
  background-image: url("./bg-footer.svg");
  background-position: center;
  background-size: cover;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;

  ul {
    list-style: none;

    li {
      cursor: pointer;
      display: inline-flex;
      padding: 15px;
      font-family: variables.$font-family-bold;
      transition: all 0.3s ease-in;
      color: variables.$very-light-grey;

      a {
        align-items: center;
        display: inline-flex;
        gap: 8px;
        color: inherit;
        text-decoration: none;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
