@use '../../styles/variables.scss';

.footer {
  background-color: variables.$violet;
  width: 100%;
  max-width: 1110px;
  align-self: center;
  background-image: url('./bg-footer.svg');
  background-position: center;
  background-size: cover;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}
