@use '../../styles/themeVariables.scss';
@use '../../styles/utils.scss';

.layout {
  display: flex;
  flex-flow: column;
  height: 100%;
  gap: 25px;
  transition: background-color linear 0.5s;

  main {
    width: 100%;
    max-width: 1190px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0 40px;
  }
}

:global {
  @include themeVariables.themify(themeVariables.$themes) {
    background-color: themeVariables.themed('background');
  }
}
