@use "../../styles/themeVariables.scss";
@use "../../styles/variables.scss";

.dicitonariesContainer {
  color: black;
  height: 100%;
  text-align: left;
  display: flex;

  :global {
    .react-tabs {
      flex-grow: 1;
      display: flex;
      flex-flow: column;

      .react-tabs__tab-list {
        margin-bottom: 0;

        @include themeVariables.themify(themeVariables.$themes) {
          border-color: themeVariables.themed("offer-input-border-color");
        }

        .react-tabs__tab--selected {
          @include themeVariables.themify(themeVariables.$themes) {
            border-color: themeVariables.themed("offer-input-border-color");
          }
        }
      }

      .react-tabs__tab-panel {
        flex-grow: 1;
        padding: 15px;
    
        @include themeVariables.themify(themeVariables.$themes) {
          border-left: 1px solid themeVariables.themed("offer-input-border-color");
          border-right: 1px solid themeVariables.themed("offer-input-border-color");
          border-bottom: 1px solid themeVariables.themed("offer-input-border-color");
        }
        @include themeVariables.themify(themeVariables.$themes) {
          background-color: themeVariables.themed("input-background");
        }
      }
    }
  }
}
