@use '../../../styles/variables.scss';
@use '../../../styles/themeVariables.scss';

.fileInputBox {
  color: variables.$midnight;
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;

  .fileInfoBox {
    display: inline-flex;
    align-items: flex-start;
    gap: 8px;
    margin-right: 15px;
    @include themeVariables.themify(themeVariables.$themes) {
      color: themeVariables.themed('input-color');
    }

    > span {
      max-width: 80%;
    }

    > svg {
      cursor: pointer;
      margin-top: 10px;
    }
  }

  label.inputLabel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: unset;

    margin-bottom: 20px;

    > .labelText {
      margin-bottom: 3px;
      display: flex;
      align-self: center;
      gap: 10px;
    }

    .inputBox {
      width: 100%;
      display: inline-flex;
      border-radius: 6px;
      align-items: center;
      color: variables.$light-grey;

      @include themeVariables.themify(themeVariables.$themes) {
        border: 2px solid themeVariables.themed('offer-input-border-color');
      }

      > p {
        padding: 8px;
        font-family: variables.$font-family-light;
        width: fit-content;
        white-space: nowrap;
        opacity: 0.5;

        @include themeVariables.themify(themeVariables.$themes) {
          color: themeVariables.themed('input-color');
        }
      }

      height: 40px;
      font-size: 14px;

      @include themeVariables.themify(themeVariables.$themes) {
        background-color: themeVariables.themed('input-background');
      }

      .tooltipError {
        width: auto;
        max-width: 250px;
      }

      &.error {
        outline: 1px solid variables.$red;
        -webkit-box-shadow: 0px 0px 10px 0px variables.$red;
        -moz-box-shadow: 0px 0px 10px 0px variables.$red;
        box-shadow: 0px 0px 10px 0px variables.$red;
      }

      &.valid {
        outline: 1px solid variables.$valid;
        -webkit-box-shadow: 0px 0px 15px 0px variables.$valid;
        -moz-box-shadow: 0px 0px 15px 0px variables.$valid;
        box-shadow: 0px 0px 15px 0px variables.$valid;
      }

      > input {
        padding-left: 20px;
        padding-right: 5px;
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;
        display: none;

        @include themeVariables.themify(themeVariables.$themes) {
          background-color: themeVariables.themed('input-background');
          color: themeVariables.themed('input-color');
        }

        border: none;
        outline: none;
        flex-grow: 1;
        border-radius: inherit;
        flex-shrink: 0;

        &::placeholder {
          opacity: 0.5;
          font-family: variables.$font-family-light;

          @include themeVariables.themify(themeVariables.$themes) {
            color: themeVariables.themed('input-color');
          }
        }
      }
    }
  }
}
